.header{
    background-color: brown;
    display:flex;
    justify-content: space-between;
}

.grid{
    background-color: darksalmon;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    background-color: brown;
}